@import './fonts.scss';
@import './header.scss';
@import './post.scss';
@import './social-quote_widget.scss';
@import './most-readable.scss';
@import './sidebar_right.scss';

* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  margin: 0;
}

.mobile_author {
  display: none;
  font-family: GothamPro;
  font-size: 14px;
  line-height: 3.43;
  text-align: left;
  color: #777777;
  padding: 14px;
  p {
    float: left;
    margin: 0;

    &+p {
      float: right;
    }
  }
  @media(max-width: 680px) {
    display: table;
    width: 100%;
  }
}

.mobile-title {
  display: none;
  @media(max-width: 680px) {
    .post_date {
      height: 11px;
      font-family: GothamPro;
      font-size: 14px;
      margin: 20px 0;
      text-align: left;
      color: #8f8f8f;
    }
    h2 {
      font-family: AkrobatExtraBold;
      font-size: 22px;
      font-weight: 800;
      line-height: 1.36;
      letter-spacing: 0.6px;
    }
  }
}

.widget_title {
  border-bottom: 1px solid rgba(138, 138, 138, 0.38);
  margin-bottom: 25px;
  padding-bottom: 0;
  position: relative;
}

.hidden-caption {
  display: block;
  width: 100%;
  visibility: hidden;
  height: 0;

  img {
    max-width: 100%;
  }
}
.hidden-caption.active {
visibility: visible;
display: table;
height: 100%;
}

.widget-image {
  img {
    max-width: 680px;
    max-height: 780px;

    @media (max-width: 680px) {
      max-width: 100%;
    }
  }
  @media(max-width: 680px) {
    margin-left: -14px;
    margin-right: -14px;
  }
}

.widget-caption {
  p {
    font-family: GothamProMed;
    font-size: 16px;
    max-width: 680px;
  }
}

.absolute {position: absolute;}

.fixed{position:fixed;}

.middle-banner {
  text-align: center;
  padding: 26px;
  border-bottom: 26px solid #f2f2f2;
  border-top: 26px solid #f2f2f2;
  margin-left: -52px;
  margin-right: -52px;

  img {
    max-width: 100%;
  }

  @media (max-width: 680px) {
    margin-left: -14px;
    margin-right: -14px;
  }
}

.bottom-banner {
  display: inline-block;
  max-width: 875px;
  background-color: #fff;
  margin: 25px 0;
  width: 100%;
  padding: 28px;
  text-align: center;
}

.nav-menu {
  @media(max-width: 680px) {
    li {
      display: block;
      margin-right: 40px;
      text-align: center;
      margin-bottom: 20px;
    }
    &.active {
      display: block;
    }
  }
}
