@font-face {
    font-family: Akrobat;
    src: url(../fonts/Akrobat-Regular.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: AkrobatExtraBold;
    src: url(../fonts/Akrobat-ExtraBold.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Akrobat-ExtraBold;
    src: url(../fonts/Akrobat-ExtraBold.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: GothamPro;
    src: url(../fonts/GothaProReg.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: GothamProMed;
    src: url(../fonts/GothaProMed.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: GothamProBold;
    src: url(../fonts/GothaProBol.otf);
    font-weight: 400;
    font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  margin: 0;
}

.post_template {
  position: relative;
  font-family: Akrobat;
  max-width: 1200px;
  margin: 104px auto 0;
}

.post_wrapper {
  position: relative;
  display: table;
  width: 100%;
}

.post {
  display: inline-block;
  max-width: 875px;
  background-color: #fff;

  @media(max-width: 680px) {
    max-width: 680px;
    display: block;
  }
}

.post_title {
  position: relative;
  display: table;
  width: 100%;
  height: 350px;
  background-image: url('../img/ball.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  color: #ffffff;
  padding: 52px;

  div {
    position: relative;
    z-index: 2;
    display: table-cell;
    vertical-align: bottom;

    h1 {
      font-family: Akrobat-ExtraBold;
      font-size: 33px;
      font-weight: 800;
      line-height: 1.21;
      letter-spacing: 0.8px;
      text-align: left;
      margin: 0;
    }
  }

  .post_date {
    font-family: GothamPro;
    font-size: 14px;
    color: #ffffff;
  }

  &:after {
    content: '';
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }

  @media (max-width: 680px) {
    padding: 14px;
  }
}

.post_content {
  padding: 0 52px 65px;
  background-color: #fff;
  font-family: GothamPro;
  font-size: 16px;
  line-height: 1.5;
 -webkit-font-smoothing: antialiased;

  h2 {
    margin: 34px 0;
    font-family: GothamProBold;
    font-weight: bold;
    font-size: 18px;
  }

  @media (max-width: 680px) {
    padding: 0 14px;
  }
}

.author_avatar {
  position: relative;
  border-top: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding: 19px 0;
  margin-bottom: 44px;
  font-family: GothamPro;
  font-size: 18px;
  color: #717171;

  img {
    float: left;
    margin-right: 16px;
    border-radius: 50%;
    width: 63px;
    height: 63px;
  }

  @media (max-width: 680px) {
    display: none;
  }
}

.post_quote {
  font-family: GothamProBold;
  font-size: 20px;
  font-weight: bold;
  padding: 27px 0;
  line-height: 1.5;
  border-top: 1px solid rgba(0,0,0,0.15);
  border-bottom: 1px solid rgba(0,0,0,0.15);
  margin: 40px 0;

  p {
    max-width: 680px;
    margin: 0;
    display: inline-block;
  }

  &:before {
    content: '';
    height: 60px;
    width: 60px;
    background-image: url(../img/quotes.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    display: inline-block;
    vertical-align: top;
    margin-right: 27px;
  }
}

.social-qoute_widget {
  max-width: 780px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 2px #d1dae0;
  padding: 20px 36px 36px;
  margin-top: 50px;
  margin-bottom: 50px;
  word-wrap: break-word;

  a {
    text-decoration: none!important;
  }

  @media (max-width: 680px) {
    max-height: none;
    padding: 14px;
  }
}

.widget_title {
  border-bottom: 1px solid #8a8a8a;
  margin-bottom: 25px;
  padding-bottom: 0;
  position: relative;
}

.social-network_icon {
  display: inline-block;
  font-size: 52px;
  margin-right: 30px;
  transition: 0.3s ease-out 0.1s;

  .fa-vk {
    color: #29548e;
  }

  .fa-twitter {
    color: #00aced;
  }

  .fa-facebook {
    color: #46389b;
  }

  .instagram {
    width: 60px;
    height: 60px;
    margin-bottom: -10px;
    margin-left: -10px;
  }

  &:hover {
    opacity: 0.7;
  }

  @media (max-width: 680px) {
    font-size: 39px;
    margin-right: 15px;

    .instagram {
      width: 39px;
      height: 39px;
      margin-bottom: -10px;
    }
  }
}

.social-network_author {
  display: inline-table;
  margin-top: 0;
  color: #000;
  vertical-align: text-bottom;

  h3 {
    font-family: GothamProMed;
    font-size: 22px;
    margin: 0;
    transition: 0.3s ease-out 0.1s;

    &:hover {
      color: blue;
    }

    @media (max-width: 680px) {
      font-size: 14px;
    }
  }

  span {
    display: block;
    font-family: GothamPro;
    font-size: 14px;
    color: #8a8a8a;
    margin-top: -5px;
    transition: 0.3s ease-out 0.1s;

    &:hover {
      color: blue;
    }
  }


}

.social-network_source {
  position: absolute;
  right: 0;
  bottom: 30px;
  text-align: right;
  font-family: GothamPro;
  font-size: 14px;
  color: #8a8a8a;
  text-decoration: underline;

  @media (max-width: 680px) {
    display: none;
  }
}

.social-network_source_btn {
  font-size: 14px;
  color: #8a8a8a;
  cursor: pointer;
  text-decoration: underline;
}

.hidden-caption {
  display: block;
  width: 100%;
  visibility: hidden;
  height: 0;
}
.hidden-caption.active {
visibility: visible;
display: table;
height: 100%;
}

.widget-image {
  img {
    max-width: 680px;
    max-height: 780px;

    @media (max-width: 680px) {
      max-width: 100%;
    }
  }
}

.widget-caption {
  p {
    font-family: GothamProMed;
    font-size: 16px;
    max-width: 680px;
  }
}

.post_tags {
  font-size: 16px;
  color: #000;
  margin-top: 33px;

  span {
    cursor: pointer;
    padding: 10px 13px 7px 13px;
    background-color: #d2d2d2;
    margin-right: 13px;
    transition: 0.3s ease-out 0.1s;
    border: 1px solid #d2d2d2;

    &:hover {
      border-color: #ffdc56;
      background-color: #fff;
    }

    @media (max-width: 680px) {
      display: inline-block;
      margin-bottom: 10px;
    }
  }
}

.author_social,
.post_social {
  position: relative;
  margin-top: 36px;
  color: #fff;

  span {
    display: inline-block;
    height: 34px;
    width: 80px;
    padding: 7px 8px 4px;
    margin-right: 14px;
    cursor: pointer;
    font-family: GothamPro;
    font-size: 16px;

    i {
      margin-right: 4px;
      font-size: 20px;
    }

    @media (max-width: 680px) {
      margin-right: 4px;
    }
  }

  .vk_btn {
    background-color: #29548e;
  }

  .tw_btn {
    background-color: #00aced;
    width: 50px;
    text-align: center;
  }

  .fb_btn {
    background-color: #46389b;
  }

  .ok_btn {
    background-color: #f28400;
  }

  .disclaimer {
    position: absolute;
    font-family: GothamPro;
    font-size: 12px;
    line-height: 1.38;
    text-align: left;
    color: #767676;
    max-width: 313px;
    width: 100%;
    top: -5px;
    right: 0;

    @media (max-width: 680px) {
      position: relative;
      top: 0;
    }
  }
}

.author_social {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 34px;
  margin: auto;
}

.absolute {position: absolute;}

.fixed{position:fixed;}

.sidebar_right {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  max-width: 300px;
  vertical-align: top;
  margin-left: 24px;

  .h3 {
    font-family: AkrobatExtraBold;
    position: relative;
    display: block;
    text-align: center;
    text-transform: uppercase;
    background-color: #ffca00;
    padding: 12px 0;
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.6px;

    &:after {
      content: '';
      position: absolute;
      bottom: -15px;
      left: 0;
      right: 0;
      margin: auto;
      width: 0;
      height: 0;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;

      border-top: 15px solid #ffca00;
    }
  }


  .didgest_news {
    margin-bottom: 25px;
    margin-top: 25px;
  }

  .didgest_image {
    height: 180px;
    width: 100%;
    background-image: url(../img/mirrors.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .didgest_caption {
    padding: 21px 28px 27px 27px;
    background-color: #fff;
    border: 3px solid #ffca00;
    border-top: 0;
    font-family: GothamProMed;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;

    p {
      margin: 0;
      max-width: 235px;
    }
  }

  .didgest_credential {
    display: table;
    width: 100%;
    height: 10px;
    font-family: GothamPro;
    font-size: 12px;
    color: #8f8f8f;

    p {
      margin-bottom: 0;
      float: left;

      &+p {
        cursor: pointer;
        float: right;
        font-weight: bold;
      }
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  @media (max-width: 680px) {
    display: none;
  }
}

.history-ofaday {
  position: relative;
  width: 100%;
  height: 530px;
  overflow: hidden;
  background-image: url('../img/girl.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .h3 {
    position: relative;
    z-index: 2;
  }

  .history-ofaday_caption {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    color: #fff;
    padding: 28px;
    font-family: GothamPro;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.13;

    div {
      color: #fff;
    }
  }

  &:after {
    content: '';
    background-color: rgba(0,0,0,0.4);
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}

.rightsidebanner {
  margin-bottom: 25px;
}

.middle-banner {
  text-align: center;
  padding: 26px;
  border-bottom: 26px solid #f2f2f2;
  border-top: 26px solid #f2f2f2;
  margin-left: -52px;
  margin-right: -52px;
}

.bottom-banner {
  display: inline-block;
  max-width: 875px;
  background-color: #fff;
  margin: 25px 0;
  width: 100%;
  padding: 28px;
  text-align: center;
}

.most-readable {
  display: table;
  width: 100%;
  margin: 0 26px 26px auto;
  background-color: #fff;
  padding: 50px;
  counter-reset: num-p;

  h2 {
    margin-top: 0;
    font-family: AkrobatExtraBold;
    text-transform: uppercase;
    font-size: 33px;
    font-weight: 800;
    line-height: 1.33;
  }

  .mr_row {
    display: inline-block;
    width: 50%;
  }

  .mr_block {
    display: block;
    font-family: GothamPro;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    margin-bottom: 14px;

    .mr_block_border {
      display: table;
      border-bottom: 1px solid rgba(0,0,0,0.2);
      margin-bottom: 30px;
    }

    &:nth-child(3) {
      .mr_block_border {
        border: none;
      }
    }

    a {
      position: relative;
      display: inline-block;
      color: #000;
      text-decoration: none;
      margin-bottom: 15px;
      max-width: 460px;
      margin-left: 60px;
      counter-increment: num-p;
      transition: 0.3s ease-out 0.1s;

      div {
        margin-top: 17px;
      }

      &:before {
        content: counter(num-p)  '.';
        position: absolute;
        font-family: AkrobatExtraBold;
        font-size: 60px;
        font-weight: 900;
        line-height: 0.4;
        text-align: left;
        color: #ffca00;
        left: -55px;
        top: 10px;
      }
    }

    span {
      font-family: GothamPro;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.71;
      text-align: left;
      color: #999999;
      cursor: pointer;
      transition: 0.3s ease-out 0.1s;

      i {
        margin-right: 6px;
      }

      &+span {
        margin-left: 19px;
      }

      &:hover {
        color: #000;
      }
    }

    @media (max-width: 680px) {
      display: block;
    }
  }

  .sees {
    display: none;
  }

  @media (max-width: 680px) {
    padding: 0 14px;
  }
}

header,
footer {
  background-color: #fff;
  text-transform: uppercase;
  font-family: Akrobat;
  font-size: 30px;
  font-weight: 800;
  line-height: 1;
  text-align: left;

  .header_container,
  .footer_container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    p {
      margin: 15px 0;
    }
  }

  ul {
    display: inline-block;
    list-style: none;
    margin: 15px 0;

    li {
      display: inline-block;
      margin-right: 25px;

      a {
        font-family: Akrobat-ExtraBold;
        text-decoration: none;
        text-transform: lowercase;
        color: #000000;
      }
    }
  }

  .header_logo,
  .footer_logo {
    display: inline-block;
    text-decoration: none;
    margin-right: 60px;
    color: #b5b5b5;
    cursor: pointer;
    text-transform: uppercase;

    img {
      position: relative;
      top: 13px;
    }
  }

  .header_social,
  .footer_social {
    display: inline-block;
    float: right;
    margin-right: 100px;

    .fa-vk {
      color: #29548e;
    }

    .fa-facebook {
      color: #46389b;
    }

    .fa-twitter {
      color: #00aced;
    }

    .fa-odnoklassniki {
      color: #f28400;
    }

    i {
      font-size: 22px;
      margin-right: 15px;
      cursor: pointer;
    }
  }

  span {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 30px;
    color: #b5b5b5;
  }

  a {
    transition: 0.3s ease-out 0.1s;
    cursor: pointer;

    &:hover {
      color: #f3b700;
    }
  }

  @media (max-width: 680px) {
    display: none;
  }
}

header {
  margin-bottom: 44px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
}

.post_content a {
    font-family: GothamProBold;
    font-weight: bold;
    color: #333;
    text-decoration: underline;
}
.post_content a:hover {
    color: #ffc831;
}
.post_content a:not([href*="medialeaks.ru"]){
    font-family: GothamPro;
}
.post_content a:not([href*="medialeaks.ru"]):hover {
    color: #333;
    text-decoration: none;
}
.seealso a{
    color: #333;
    text-decoration: none;
}
.seealso a:hover {
    text-decoration: underline;
}
.seealso{
    color: #ffc831;
}
